#about-section
  h1
    //display: inline-block

  #portrait
    width: 30%
    margin: 0.5em
    float: right
    overflow: hidden
    border-radius: 15px
    border: 2px solid black
    //-webkit-transform: rotate(5deg)
    img
      width: 100%
  p
    margin-top: 0
  #date
    display: inline-block
    float: right
    font-style: italic
