#about-section
  h1
    display: inline-block

  #portrait
    width: 20%
    margin-top: 20px
    float: right
    padding: 20px

    img
      -webkit-transform: rotate(5deg)
      width: 100%
      border: 3px solid black
