#cv-section
  #cv-button
    // positioning
    display: block;
    position: relative
    width: 300px
    height: 50px
    left: 50%
    margin-top: 50px
    margin-left: -(@width/2)
    // center text inside element
    line-height: @height

    text-decoration: none
    text-align: center
    background-color: #dcdcdc
    border: 2px dashed blue
    border-radius: 10px;

