#downloads-section
  #table
    border: 1px solid black
    display: table
    overflow: hidden
    border-radius: 10px
    table-layout: fixed
    width: 100%
    .row
      display: table-row
      width: 100%
      .link
        display: none
      .name
        width: 40%
        font-family: monospace
      .description
        width: 60%
      .name
      .description
        display: table-cell
        vertical-align: middle
        padding: 0.3em 1em 0.3em 1em
        p
          margin: 0px
    .row:nth-child(odd)
        background-color: #ddddff
    .row:nth-child(even)
        background-color: #eeeeee

    .row.selected
        background-color: #ffffee
        cursor: pointer


