body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0
  padding: 0
  background-image: url('/images/bg.jpg')

div, nav, a
  //border: 1px solid black

#twitter-section
  display: none
  position: fixed
  right: 0px
  width: 250px
  height: 100%

#wrap
  border-radius: 10px
  width: 900px
  min-height: 600px
  margin: auto
  margin-top: 20px
  background-color: white

  #title
    height: 100px
    padding: 10px
    padding-left: 100px
    padding-right: 100px
    #welcome
      text-align: center
      font-weight: bold
      font-size: 50px
      float: left
      text-shadow: #777 0.2em 0.2em 0.2em
    #signature
      float: right
      clear: left
      font-size: 30px
      text-shadow: #777 0.2em 0.2em 0.2em

  #navigation
    text-align: center
    background-color: black
    padding-top: 5px
    padding-bottom: 5px
    div
      width: 19%
      display: inline-block
      color: white
      border: 1px solid white
      padding-top: 3px
      padding-bottom: 3px
      margin-top: 3px
      font-size: 12pt
      margin-bottom: 3px
      margin-right: 3px
      cursor: pointer
      background-color: inherit
    .selected
      background-color: #99f

  #main
    margin: auto
    overflow: auto
    padding-bottom: 2em
    width: 90%
    #container
      font-size: 14pt

