#projects-section
  #projects-board
    display: inline-block
    width: 50%
    height: 370px
    float: right
    margin-left: 1em;

    overflow: auto
    border-top: 1px dashed black
    border-bottom: 1px dashed black
    padding-left: 50px
    padding-top: 1em

    .project
      display: inline-block
      width: 100px
      height: 100px
      margin-left: 10px
      margin-bottom: 10px

      vertical-align: top
      text-align: center
      background-color: yellow

      border-radius: 10px
