#projects-section
  #tagButtons
    text-align: left
    .toggleTag
      display: inline-block
      margin-right: 0.2em
      margin-bottom: 0.2em
      padding: 3px
      border-radius: 3px
      border: 1px solid gray
      cursor: pointer
      opacity: 0.5
      background-color: #ffe
    .selected
      opacity: 1.0
      color: black

  #projects-board
    display: inline-block
    width: 50%
    //height: 370px
    float: right
    //margin-left: 1em;

    overflow: auto
    //border-top: 1px solid black
    //border-bottom: 1px solid black
    padding: 1em 25px 1em 25px

    .project
      display: inline-block
      width: 100px
      height: 100px
      margin-left: 12px
      margin-bottom: 12px
      padding: 4px

      box-shadow: 2px 2px 2px 0px #777

      cursor: pointer
      text-align: center
      vertical-align: top
      background-color: #efefef
      border: 2px outset gray

      border-radius: 10px

      img
        width: 80px
        height: 80px
        display: inline-block
      .text
        font-size: 10pt

      .tags
        display: none
