#projects-section
  #projects-board
    border: 1px solid black
    width: 50%
    height: 330px
    float: right
    display: inline-block
    overflow: auto

  #projects-board .project
    vertical-align: top
    text-align: center
    display: inline-block
    width: 100px
    height: 100px
    margin-left: 10px
    margin-bottom: 10px
    background-color: yellow
