box-shadow:
  -moz-box-shadow:    arguments
  -webkit-box-shadow: arguments
  box-shadow:         arguments

border-radius()
  for i in moz webkit khtml
    -{i}-border-radius: arguments
  border-radius: arguments

code
  background-color: #eee
  border: #ccc 1px solid
  border-radius: 3px
  padding-left: 2px
  padding-right: 2px
