box-shadow:
  -moz-box-shadow:    arguments
  -webkit-box-shadow: arguments
  box-shadow:         arguments

border-radius()
  for i in moz webkit khtml
    -{i}-border-radius: arguments
  border-radius: arguments

code
  background-color: #eee
  border: #ccc 1px solid
  border-radius: 3px
  padding-left: 2px
  padding-right: 2px

.toggleTag
  display: inline-block
  margin-right: 0.4em
  margin-bottom: 0.4em
  padding: 3px
  border-radius: 3px
  border: 1px dashed gray
  cursor: pointer
  background-color: #eef
  color: black
  opacity: 0.6
.toggleTag.selected
  background-color: #ffe
  border: 1px solid black
  opacity: 1
