#view-project-section
  #name
    //border: 1px solid black
    margin-bottom: 7px
    #link
      font-size: 14pt
      display: inline-block
      float: right
      background-color: lime
      border: 1px solid black
      padding: 5px
      margin: 5px
      color: AliceBlue
      text-decoration: none
      font-weight: bold
      border-radius: 5px
      cursor: pointer

  #dates
    float: left;
    margin-bottom: 7px

  #description
    display: inline-block
    clear: left
    width: 500px
    float: left
  #screenshot
    display: inline-block
    float: right
    clear: right
    w = 300px
    h = 300px
    width: w
    height: h
    img
      width: w
      height: h

