.button
  font-size: 14pt
  display: inline-block
  background-color: lime
  padding: 5px
  margin: 5px
  color: AliceBlue
  text-decoration: none
  font-weight: bold
  border-radius: 5px
  cursor: pointer

#view-project-section
  #name
    //border: 1px solid black
    margin-bottom: 7px
    #link
      @extend .button
      float: right

  #dates
    float: left
    margin-bottom: 7px

  #description
    display: block
    clear: left
  #screenshot
    display: inline-block
    float: right
    w = 300px
    h = 300px
    padding: 1px
    margin: 1em
    width: w+@padding
    height: h+@padding
    img
      border-radius: 8px
      border: 1px solid black
      width: w
      height: h
  #src
    @extend .button
    float: left
    clear: both
    background-color: #8F00FF


