#view-project-section
  .button
    font-size: 12pt
    display: inline-block
    background-color: lime
    padding: 5px
    margin-top: 15px
    margin-left: 10px
    color: AliceBlue
    text-decoration: none
    font-weight: bold
    border-radius: 5px
    cursor: pointer
  #name
    #link
      @extend #view-project-section .button
      float: right

  #dates
    float: left
    font-size: 12pt
    margin-bottom: 2em
    border-left: 2px dotted black
    padding-left: 5px
    margin-left: 10px

  #description
    $fsize = 12pt
    font-size: $fsize
    display: block
    clear: left
    a
      text-decoration: none
    p:first-letter
      text-shadow: #777 0.1em 0.1em 0.1em
      vertical-align: top
      font-size: 1.75 * $fsize
      float: left
      margin-right: 2px
      padding-left: 4px
      //padding-right: 4px
      font-family: georgia
      //border: 1px solid #c0c0c0
  #screenshot
    display: inline-block
    float: right
    w = 300px
    h = 300px
    padding: 1px
    margin-left: 1em
    max-width: w+@padding
    max-height: h+@padding
    text-align: center
    img
      border-radius: 8px
      border: 1px solid black
      max-width: w
      max-height: h
  #src
    @extend #view-project-section .button
    float: right
    background-color: #8F00FF

  .fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
  }

