div#about-section
  h2 Homepage
  div#portrait
    img(src="/images/me.jpg")
  p.
    Hi guys, my name is Andrey Lushnikov.
    I'm living in Saint Petersburg, Russia and I'm a 5th-year (out of
    five years) student of computer science faculty at Saint Petersburg State
    University. I’ve started programming when I was at 6th grade at school, so
    it looks like I'm in for more than 10 years.
    Programming has become an important part of my life and I guess there is
    nothing else I've spent so much time on except playing chess for more than
    11 years.
  p.
    During my first years of programming, I spent a lot of time participating in
    ACM contests, and it turned out to be successful. In my last school year I
    got <strong>II award in the Municipal Individual Programming
    Contest</strong> and also the <strong>II award in the National Team
    Programming Contest.</strong>
  p.
    In November 2009 I started an extreme journey called <b>"SmartKupon"</b>:
    I got involved in the Russian just founded project start-up. I met lots of
    awesome guys there, gained a great experience, but didn't find millions of
    dollars we were all striving for. After 1.5 years of totally crazy times it
    was over for me.
  p.
    In 2011 (August-November) I spent three months in Palo Alto, CA as a
    <b>Facebook</b> intern in "Facebook for Android" team. I got lots of
    practical skills, improved my English (at least I wish I did) and fall in love
    with GIT.
  p.
    After coming back to Saint P. I carried out couple of nice web projects and
    rediscovered javascript.
  p.
    Stay tuned!
  #date Mar 16, 2012

script
  $("title").html("Andrey Lushnikov homepage");
