div#about-section
  h2 Homepage
  div#portrait
    img(src="/images/me.jpg")
  p.
    Hi guys, my name is Andrey Lushnikov.
    I’ve started programming when I was at 6th grade at school, so
    it looks like I'm in for more than 10 years.
    Programming has become an important part of my life and I guess there is
    nothing else I've spent so much time on except playing chess for more than
    11 years.
  p.
    During my first years of programming, I spent a lot of time participating in
    ACM contests, and it turned out to be successful. In my last school year I
    got <strong>II award in the Municipal Individual Programming
    Contest</strong> and also the <strong>II award in the National Team
    Programming Contest.</strong>
  p.
    In November 2009 I started an extreme journey called <b>"SmartKupon"</b>:
    I got involved in the Russian just founded project start-up. I met lots of
    awesome guys there, gained a great experience, but didn't find millions of
    dollars we were all striving for. After 1.5 years of totally crazy times it
    was over for me.
  p.
    In 2011 (August-November) I spent three months in Palo Alto, CA as a
    <b>Facebook</b> intern in "Facebook for Android" team. I got lots of
    practical skills, improved my English (at least I wish I did) and fell in love
    with GIT.
  p.
    After sweet internship, I carried couple of freelance javascript projects
    for i-Free (which made me love the js) and finished my graduate paper.
  p.
    In 2012 (July-October) I spent another three months in Menlo Park, CA as a
    <b>Facebook</b> intern (again). This time I was in infrastructure team and
    tried to improve <b>Hadoop Distributed File System</b> for the needs of
    Facebook. AS a result, I got an idea about distributed
    services and their development workflow.
  p.
    Since the end of October, 2012 I enhance Chrome Developer Tools as a fulltime engineer in
    <b>Google</b>, Saint-Petersburg (Russia).
    project.
  p.
    Stay tuned!
  #date June 14, 2013

script
  $("title").html("Andrey Lushnikov homepage");
