div#about-section
  h1 Who Am I?
  div#portrait
    img(src="/images/me.jpg").rounded-corners-20
  p
    | It's nice to see you here! Let me introduce myself
  p
    | I'm Andrey Lushnikov, a 5th-year (out of
    | five years) student of computer science faculty. In case you don't know me at
    | all - I'm from Russia, Saint Petersburg. Pretty nice place to live, really :)
  p
    | The page is mostly about me and my hobbies; if you've got any questions,
    | you can always go to
    a(href="/contacts") contacts
    |  and reach me in any way you prefer.
  hr
