div#about-section
  h1 Homepage
  div#portrait
    img(src="/images/me.jpg")
  p.
    Hi guys, my name is Andrey Lushnikov.
    I'm living in Saint Petersburg, Russia and I'm a 5th-year (out of
    five years) student of computer science faculty of Saint Petersburg State
    University. I'm programming since the 6th grade of school, so it looks like
    I'm in for more then <b>10 years</b>. The only thing I've spent comparable
    amount of time in my life on is chess game (11 years)
  p.
    For the first years of programming, I invested a lot of time in ACM contests,
    and it turned out to be profitable. In the last 11th grade I
    got <b>II diploma on city individual programming olympiad</b> and the
    <b>II diploma on Russian command programming olympiad</b>.
  p.
    November 19, 2009 I started a journey called <b>"SmartKupon"</b>:
    I got involved in a russian just-founded startup. I met lots of
    awesome guys there, got a lot of experience, but didn't find a million of
    dollars we were all aching for. After 1.5 years of totally crazy times it
    was over.
  p.
    Three months starting from August, 2011 I spent in Palo Alto, CA as a
    <b>Facebook</b> intern in "Facebook for Android" team. I got lots of
    practical skills, improved english (at least I wish I did) and fall in love
    with GIT.
  p.
    After coming back to Saint P. I implemented couple of nice web projects and
    rediscovered javascript for myself.
  p.
    The story goes on!
  #date Mar 16, 2012
