#contacts-section
  h1 Contact me
  p.
    There are dozens of ways to contact me, but here I list only ones I feel
    convenient about. That means: feel free to choose any option among these,
    and I'll respond you as fast as possible
  div#contacts
    img(src="/images/email.png")
    img(src="/images/fb.png")
    img(src="/images/couch.png")
    img(src="/images/vk.png")
    img(src="/images/twitter.png")
