#downloads-section
  h1 Downloads
  p.
    The section contains some files that I might need sporadically and which
    might be useful for other people. If you'd like to use some of them - you're
    welcome! But remember: things good for me might be nasty for you, so do it
    on your own risk

  #table
    .row
      .link /files/vimrc
      .name .vimrc
      .description
        p vim configuration file
    .row
      .link /files/tmux.conf
      .name .tmux.conf
      .description
        p tmux configuration file
    .row
      .link /files/plugins.tar.gz
      .name Moj+FileEdit+CodeProcessor
      .description
        p Plugins for topcoder contest arena
    .row
      .link /files/arena.jnlp
      .name TC Contest Arena
      .description
        p Topcoder contest arena
    .row
      .link /files/cv-andrey-lushnikov.odt
      .name cv.odt
      .description
        p Source of my cv

script
  $("#downloads-section").ready(function(){
    $(".row")
      .on('click', function() {
        var link = $(".link", this).html();
        window.location.href = link;
      })
      .on('mouseenter', function() {
        $(this).addClass('selected');
      })
      .on('mouseleave', function() {
        $(this).removeClass('selected');
      })
  });
