#downloads-section
  h1 Downloads
  p.
    The section contains some files that I might need sporadically and which
    might be useful for other people. If you'd like to use some of them - you're
    welcome! But remember: things good for me might be nasty for you, so do it
    on your own risk

  #table
    a(href="/files/vimrc").row
      .name .vimrc
      .description
        p vim configuration file
    a(href="/files/tmux.conf").row
      .name .tmux.conf
      .description
        p tmux configuration file
    a(href="/files/plugins.tar.gz").row
      .name Moj+FileEdit+CodeProcessor
      .description
        p Plugins for topcoder contest arena
    a(href="/files/arena.jnlp").row
      .name TC Contest Arena
      .description
        p Topcoder contest arena
    a(href="/files/cv-andrey-lushnikov.odt").row
      .name cv.odt
      .description
        p Source of my cv
    a(href="/files/pane_title.sh").row
      .name pane_title.sh
      .description
        p Adds a title to a tmux pane

script
  $("#downloads-section").ready(function(){
    $("#table a").attr("target", "_blank");
    $(".row")
      .on('click', function() {
        $.ga.trackDownloads(this.href);
      })
      .on('mouseenter', function() {
        $(this).addClass('selected');
      })
      .on('mouseleave', function() {
        $(this).removeClass('selected');
      })
  });
