!!!
html
  head
    title Andrey Lushnikov
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="/javascripts/jquery.form.js");
    script(src="/javascripts/underscore-1.3.1.min.js")
    script(src="/javascripts/ui-binds.js")
  body
    #twitter here is gonna be my last tweets
    #wrap.rounded-corners-20
      #title
        #welcome &mdash; Welcome! :)
        #signature - Andrey Lushnikov
      nav#navigation
        #about About
        #projects Projects
        #cv CV
        #downloads Downloads
        #contacts Contacts
      #main
        #container!= body

