h1 IT Projects
#projects-board
  .project Tic-tac-toe
  .project Chess
  .project Checkers
  .project SmartUI
  .project Ёasy
  .project Tic-tac-toe
  .project Tic-tac-toe
  .project Chess
  .project Checkers
  .project SmartUI
  .project Ёasy
  .project Chess
  .project Checkers
  .project SmartUI
  .project Ёasy




