fieldset
  legend old projects
  ol
    li Project 1
    li Project 2
    li Project 3

fieldset
  legend university projects
  ol
    li Project 1
    li Project 2

fieldset
  legend latest staff
  ol
    li Project 1

