#projects-section
  #projects-board
    each project in projects
      a(href="#{project.url}").project
        img(src='#{project.icon}')
        .text #{project.shortname}
  h1 IT Projects
  p.
    Here are projects I've done during the years of programming. Among them
    are some really old things that I just like, and some really modern ones.
    Every non-commercial project is provided with its source code so you can
    grasp into it if you'd like.
  p.
    All sources are provided as-is; use them on your
    own risk (if you're ever going to).

script
  $("#projects-section").ready(function () {
    $("a.project").click(function (e) {
      loadUrl(this.href);
      e.preventDefault();
    });
    $(".project")
      .on('mouseenter', function() {
        this.css = this.css || $(this).css('background-color');
        $(this).stop().animate({'backgroundColor' : '#ffff99', duration: 200 });
      })
      .on('mouseleave', function() {
        $(this).stop().animate({'backgroundColor' : this.css, duration: 200});
      });

  });

