body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/images/bg.jpg');
}

div, nav, a {
    //border: 1px solid black;
}

#twitter {
    display: none;
    position: fixed;
    right: 0px;
    width: 250px;
    height: 100%;
}

#wrap {
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
}

#title {
    height: 100px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

#title #welcome {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    float: left;
}

#title #signature {
    float: right;
    clear: left;
    font-size: 30px;
}

#main {
    width: 90%;
    margin: auto;
}

#navigation {
    text-align: center;
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}

#navigation div {
    width: 19%;
    display: inline-block;
    color: white;
    border: 1px dashed white;
    margin-right: 3px;
    cursor: pointer;
}

#container {
    font-size: 14pt;
}

#about-section h1 {
    display: inline-block;
}

#portrait {
    width: 20%;
    margin-top: 20px;
    float: right;
    padding: 20px;
}

#portrait img {
    -webkit-transform: rotate(5deg);
    width: 100%;
    border: 3px solid black;
}

#projects-board {
    border: 1px solid black;
    width: 50%;
    height: 330px;
    float: right;
    display: inline-block;
    overflow: auto;
}

#projects-board .project {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: yellow;
}

#cv-section #cv {
    width: 300px;
    margin: auto;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 120px;
    background-color: #dcdcdc;

    border: 2px dashed blue;
}

.rounded-corners-20 {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

